<!-- This is a sample lanuch file, please change it based on your needs -->

<launch>

	<node pkg="media_samsung_driver"
			name="samsung_salon"
			type="media_samsung_driver"
			args="org.rosmultimedia.player.samsung.SamsungTvNode"
			output="screen">
		<param name="rate" value="1" />
		<param name="mac" value="{your_samsung_tv_mac}" />
		<param name="ip" value="{your_samsung_tv_ip}" />
		<param name="tf_prefix" value="samsung_salon" />
	</node>

</launch>
